body {
    background: #f5f5f5;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444
}

ul {
    margin: 0;
}

.bg-black {
    background-color: #000000;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 811px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 60px;
  background-color: #f1f1f1;
  height: auto;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}