<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="{% static 'NPSKiosk/img/NPSLogo.png' %}">
  <title>National Park Services</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'NPSKiosk/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'NPSKiosk/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'NPSKiosk/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'NPSKiosk/css/landing-page.min.css' %}">

</head>

<body>
<div class="fullPage">
    <div id="main">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <div class="header">
        <img src="{% static 'NPSKiosk/img/NPSLogo.png' %}">
        <a class="navbar-brand" href="{% url 'NPS-Home' %}">National Park Services Kiosk</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form action="{% url 'NPS-Search' %}" class="form-inline my-2 my-lg-0" method="post">
            {% csrf_token %}
           <p>{{ form.as_p }} <p>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

  {% block content %}{% endblock %}
    </div>
</div>


      <!-- Footer -->
    <div class="foot">
  <footer class="footer bg-light" style="position:center;">

      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="https://www.nps.gov/aboutus/faqs.htm">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="https://www.nps.gov/aboutus/contact-form.htm?o=65B5E8848AD6ADB195A807AAEB37A5BD55D341804A&r=/aboutus/contactus.htm">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="https://www.nps.gov/aboutus/disclaimer.htm">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="https://www.nps.gov/aboutus/privacy.htm">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Capital One MindSumo Challenge 2019.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://www.facebook.com/nationalparkservice">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="https://www.twitter.com/natlparkservice">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/nationalparkservice">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </footer>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->
      <!-- Bootstrap core JavaScript -->
  <script src="{% static 'NPSKiosk/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'NPSKiosk/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>