{% extends "NPSKiosk/base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <div class="ColumnGrid" style="margin-left: -10px;margin-right: -10px;">
        <div class="ColumnMain col-sm-12">
            <div class="Breadcrumbs" style="width:auto; min-width:768px;margin-right:auto;margin-left:auto;padding-left:10px;padding-right:10px;">
                <div class="row">
                    <div class="col-sm-12">
                        <article><a href="{% url 'NPS-Home' %}">NPS.gov</a> / Search</article>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="title" style="margin-left: 15px;border-bottom:1px dotted #dddddd">
                <h1 style="font-family: Georgia,Times,Times New Roman,serif!important;line-height: 1.3;margin-top: 20px;font-size: 300.5%;">Search Results</h1>
                <a href="#alerts"><h6>Alerts Found: {{ totalSearchAlerts }}</h6></a>
                <a href="#articles"><h6>Articles Found: {{ totalSearchArticles }}</h6></a>
                <a href="#campgrounds"><h6>Campgrounds Found: {{ totalSearchCampgrounds }}</h6></a>
                <a href="#events"><h6>Events Found: {{ totalSearchEvents }}</h6></a>
                <a href="#lessonplans"><h6>Lesson Plans Found: {{ totalSearchLessonplans }}</h6></a>
                <a href="#newsreleases"><h6>News Releases Found: {{ totalSearchNewsreleases }}</h6></a>
                <a href="#parks"><h6>Parks Found: {{ totalSearchParks }}</h6></a>
                <a href="#people"><h6>People Found: {{ totalSearchPeople }}</h6></a>
                <a href="#places"><h6>Places Found: {{ totalSearchPlaces }}</h6></a>
                <a href="#visitorcenters"><h6>Visitor Centers Found: {{ totalSearchVisitorcenters }}</h6></a>
            </div>

            <!------------------------------------------------Alert Results-------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                    <br><br>
                    <div style="margin: 0px 0px 0 0px;padding-top: 0px;">
                        <div class="col-md-9 col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                            <div class="stateParkList" style="background-color:#4b5e26;color:#fff;display:inline-block;font-size:1.375rem;font-family: Open Sans Condensed,sans-serif;font-weight:400;line-height:1;">
                                <a name="alerts"></a>
                                <h3 style="margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px;"> Alerts Found For "{{ text }}": {{ totalSearchAlerts }} </h3>
                            </div>
                            <div id="alertListResults" style="background:#FFFFFF;margin-top:20px;">
                                <div id="alertListResultsArea">
                                    <ul id="list_alert" style="margin-right:20px;margin-bottom:14px;padding-left:0px;list-style: none;margin-left: 0px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                                        {% if alertSearchData is not None %}
                                        {% for alert in alertSearchData %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:14px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:0px;@media(min-width:768px)width: 75%;float:left;position: relative;min-height: 1px;padding-right:10px;">
                                                <h2 style="color:#000000;font-size: 15px;text-transform: uppercase;margin-bottom:0px;margin-top:0px;font-family: inherit;font-weight: 1000;line-height: 1.1;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;margin-inline-start: 0px;margin-inline-end: 0px;">
                                                    Category: {{ alert.category }}
                                                </h2>
                                                <h3><a href="{{ alert.url }}" id="anch_1">{{ alert.title }}</a></h3>
                                                <h4>{{ alert.url }}</h4>
                                                <p>
                                                    {{ alert.description }}
                                                </p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:25px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:150px;@media(min-width:768px)width: 75%;float:center;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{% url 'NPS-Home' %}" >No Alert Search Results Were Found.</a></h3>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------------------------------Article Results-------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                    <br><br>
                    <div style="margin: 0px 0px 0 0px;padding-top: 0px;">
                        <div class="col-md-9 col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                            <div class="stateParkList" style="background-color:#4b5e26;color:#fff;display:inline-block;font-size:1.375rem;font-family: Open Sans Condensed,sans-serif;font-weight:400;line-height:1;">
                                <a name="articles"></a>
                                <h3 style="margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px;"> Articles Found For "{{ text }}": {{ totalSearchArticles }} </h3>
                            </div>
                            <div id="articleListResults" style="background:#FFFFFF;margin-top:20px;">
                                <div id="articleListResultsArea">
                                    <ul id="list_article" style="margin-right:20px;margin-bottom:14px;padding-left:0px;list-style: none;margin-left: 0px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                                        {% if articleSearchData is not None %}
                                        {% for article in articleSearchData %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:14px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:0px;@media(min-width:768px)width: 75%;float:left;position: relative;min-height: 1px;padding-right:10px;">
                                                <h2 style="color:#000000;font-size: 15px;text-transform: uppercase;margin-bottom:0px;margin-top:0px;font-family: inherit;font-weight: 1000;line-height: 1.1;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;margin-inline-start: 0px;margin-inline-end: 0px;">
                                                    Related Parks: {{ article.relatedParks }}
                                                </h2>
                                                <h3><a href="{{ article.url }}" id="anch_2">{{ article.title }}</a></h3>
                                                <p>{{ article.url }}</p>
                                                <p>
                                                    {{ article.listingdescription }}
                                                </p>
                                                <img src="{{ article.listingimage.url }}" style="max-width:50%">
                                                <p>{{ article.listingimage.altText }}</p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:25px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:150px;@media(min-width:768px)width: 75%;float:center;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{% url 'NPS-Home' %}" >No Article Search Results Were Found.</a></h3>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------------------------------Campground Results-------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                    <br><br>
                    <div style="margin: 0px 0px 0 0px;padding-top: 0px;">
                        <div class="col-md-9 col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                            <div class="stateParkList" style="background-color:#4b5e26;color:#fff;display:inline-block;font-size:1.375rem;font-family: Open Sans Condensed,sans-serif;font-weight:400;line-height:1;">
                                <a name="campgrounds"></a>
                                <h3 style="margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px;"> Campgrounds Found For "{{ text }}": {{ totalSearchCampgrounds }} </h3>
                            </div>
                            <div id="campgroundListResults" style="background:#FFFFFF;margin-top:20px;">
                                <div id="campgroundListResultsArea">
                                    <ul id="list_campground" style="margin-right:20px;margin-bottom:14px;padding-left:0px;list-style: none;margin-left: 0px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                                        {% if campgroundSearchData is not None %}
                                        {% for campground in campgroundSearchData %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:14px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:0px;@media(min-width:768px)width: 75%;float:left;position: relative;min-height: 1px;padding-right:10px;">
                                                <h2 style="color:#000000;font-size: 15px;text-transform: uppercase;margin-bottom:0px;margin-top:0px;font-family: inherit;font-weight: 1000;line-height: 1.1;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;margin-inline-start: 0px;margin-inline-end: 0px;">
                                                    Park Code: {{ campground.parkCode }}
                                                </h2>
                                                <h3 style="color:blue">{{ campground.name }}</a></h3>
                                                <h6>ID: {{ campground.id }}</h6>
                                                <h6>{{ campground.directionsUrl }}</h6>
                                                <h5 style="color:red">{{ campground.weatheroverview }}</h5>
                                                <p></p>
                                                <h5>
                                                    {{ campground.description }}
                                                </h5><p></p><p></p>
                                                <h4><strong>More details about this Campground:</strong></h4>

                                                <ul>
                                                    <li><h5>Total Sites:</h5><h5 style="color:blue">{{ campground.campsites.totalsites }}</h5></li>
                                                    <li><h5>Horses available:</h5><h5 style="color:blue">{{ campground.campsites.horse }}</h5></li>
                                                    <li><h5>Electrical Hookups:</h5><h5 style="color:blue">{{ campground.campsites.electricalhookups }}</h5></li>
                                                    {% if campground.accessibility.wheelchairaccess|default:"" %}
                                                    <li><h5>Wheelchair Access:</h5><h5 style="color:blue">{{ campground.accessibility.wheelchairaccess }}</h5></li>
                                                    {% endif %}
                                                    {% if campground.accessibility.cellphoneinfo|default:"" %}
                                                    <li><h5>Cell Phone Info:</h5><h5 style="color:blue">{{ campground.accessibility.cellphoneinfo }}</h5></li>
                                                    {% endif %}
                                                    {% if campground.accessibility.firestovepolicy|default:"" %}
                                                    <li><h5>Fire Stove Policy:</h5><h5 style="color:blue">{{ campground.accessibility.firestovepolicy }}</h5></li>
                                                    {% endif %}
                                                    {% if campground.accessibility.adainfo|default:"" %}
                                                    <li><h5>Additional Info:</h5><h5 style="color:blue">{{ campground.accessibility.adainfo }}</h5></li>
                                                    {% endif %}
                                                </ul>


                                                {% if campground.images is not null %}
                                                    <img src="{{ campground.image.url }}" style="max-width:50%">
                                                {% endif %}
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:25px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:150px;@media(min-width:768px)width: 75%;float:center;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{% url 'NPS-Home' %}" >No Article Search Results Were Found.</a></h3>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------------------------------Event Results-------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                    <br><br>
                    <div style="margin: 0px 0px 0 0px;padding-top: 0px;">
                        <div class="col-md-9 col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                            <div class="stateParkList" style="background-color:#4b5e26;color:#fff;display:inline-block;font-size:1.375rem;font-family: Open Sans Condensed,sans-serif;font-weight:400;line-height:1;">
                                <a name="events"></a>
                                <h3 style="margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px;"> Events Found For "{{ text }}": {{ totalSearchEvents }} </h3>
                            </div>
                            <div id="eventListResults" style="background:#FFFFFF;margin-top:20px;">
                                <div id="eventListResultsArea">
                                    <ul id="list_event" style="margin-right:20px;margin-bottom:14px;padding-left:0px;list-style: none;margin-left: 0px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                                        {% if eventSearchData is not None %}
                                        {% for event in eventSearchData %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:14px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:0px;@media(min-width:768px)width: 75%;float:left;position: relative;min-height: 1px;padding-right:10px;">
                                                <h2 style="color:#000000;font-size: 15px;text-transform: uppercase;margin-bottom:0px;margin-top:0px;font-family: inherit;font-weight: 1000;line-height: 1.1;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;margin-inline-start: 0px;margin-inline-end: 0px;">
                                                    Category: {{ event.category }}
                                                </h2>
                                                <h5>
                                                    Park: {{ event.parkfullname }}
                                                </h5>
                                                <h3>{{ event.title }}</h3>
                                                <h6>{{ event.contactname }}</h6>
                                                <h6>{{ event.contacttelephonenumber }}</h6>
                                                <p>
                                                    {{ event.description }}
                                                </p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:25px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:150px;@media(min-width:768px)width: 75%;float:center;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{% url 'NPS-Home' %}" >No Event Search Results Were Found.</a></h3>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------------------------------Lesson Plan Results-------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                    <br><br>
                    <div style="margin: 0px 0px 0 0px;padding-top: 0px;">
                        <div class="col-md-9 col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                            <div class="stateParkList" style="background-color:#4b5e26;color:#fff;display:inline-block;font-size:1.375rem;font-family: Open Sans Condensed,sans-serif;font-weight:400;line-height:1;">
                                <a name="lessonplans"></a>
                                <h3 style="margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px;"> Lesson Plans Found For "{{ text }}": {{ totalSearchLessonplans }} </h3>
                            </div>
                            <div id="lessonplanListResults" style="background:#FFFFFF;margin-top:20px;">
                                <div id="lessonplanListResultsArea">
                                    <ul id="list_lessonplan" style="margin-right:20px;margin-bottom:14px;padding-left:0px;list-style: none;margin-left: 0px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                                        {% if lessonplanSearchData is not None %}
                                        {% for lessonplan in lessonplanSearchData %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:14px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:0px;@media(min-width:768px)width: 75%;float:left;position: relative;min-height: 1px;padding-right:10px;">
                                                <h2 style="color:#000000;font-size: 15px;text-transform: uppercase;margin-bottom:0px;margin-top:0px;font-family: inherit;font-weight: 1000;line-height: 1.1;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;margin-inline-start: 0px;margin-inline-end: 0px;">
                                                    Related Parks Found: {{ lessonplan.parks }}
                                                </h2>
                                                <h5>
                                                    {{ lessonplan.gradelevel }}
                                                </h5>
                                                <h3><a href="{{ lessonplan.url }}" id="anch_4">{{ lessonplan.title }}</a></h3>
                                                <p>Subject: {{ lessonplan.subject }}</p>
                                                <p>
                                                    {{ lessonplan.questionobjective}}
                                                </p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:25px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:150px;@media(min-width:768px)width: 75%;float:center;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{% url 'NPS-Home' %}" >No Lesson Plans Were Found.</a></h3>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!------------------------------------------------News Release Results-------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                    <br><br>
                    <div style="margin: 0px 0px 0 0px;padding-top: 0px;">
                        <div class="col-md-9 col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                            <div class="newsreleaseParkList" style="background-color:#4b5e26;color:#fff;display:inline-block;font-size:1.375rem;font-family: Open Sans Condensed,sans-serif;font-weight:400;line-height:1;">
                                <a name="newsreleases"></a>
                                <h3 style="margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px;"> News Releases Found For "{{ text }}": {{ totalSearchNewsreleases }} </h3>
                            </div>
                            <div id="newsreleaseListResults" style="background:#FFFFFF;margin-top:20px;">
                                <div id="newsreleaseListResultsArea">
                                    <ul id="list_newsrelease" style="margin-right:20px;margin-bottom:14px;padding-left:0px;list-style: none;margin-left: 0px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                                        {% if newsreleaseSearchData is not None %}
                                        {% for newsrelease in newsreleaseSearchData %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:14px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:0px;@media(min-width:768px)width: 75%;float:left;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{{ newsrelease.url }}" id="anch_5">{{ newsrelease.title }}</a></h3>
                                                <p>{{ newsrelease.url }}</p>
                                                <p>
                                                    {{ newsrelease.abstract }}
                                                </p>
                                                <img src="{{ newsrelease.image.url }}" style="max-width:50%">
                                                <p>{{ newsrelease.image.caption }}   -    {{ newsrelease.image.credit }}</p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:25px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:150px;@media(min-width:768px)width: 75%;float:center;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{% url 'NPS-Home' %}" >No News Releases Were Found.</a></h3>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-------------------------------------------------Park Results -------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                    <br><br>
                    <div style="margin: 0px 0px 0 0px;padding-top: 0px;">
                        <div class="col-md-9 col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                            <div class="stateParkList" style="background-color:#4b5e26;color:#fff;display:inline-block;font-size:1.375rem;font-family: Open Sans Condensed,sans-serif;font-weight:400;line-height:1;">
                                <a name="parks"></a>
                                <h3 style="margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px;"> Parks Found For "{{ text }}": {{ totalSearchParks }} </h3>
                            </div>
                            <div id="parkListResults" style="background:#FFFFFF;margin-top:20px;">
                                <div id="parkListResultsArea">
                                    <ul id="list_parks" style="margin-right:20px;margin-bottom:14px;padding-left:0px;list-style: none;margin-left: 0px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                                        {% if parkSearchData is not None %}
                                        {% for park in parkSearchData %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:14px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:0px;@media(min-width:768px)width: 75%;float:left;position: relative;min-height: 1px;padding-right:10px;">
                                                <h2 style="color:#000000;font-size: 15px;text-transform: uppercase;margin-bottom:0px;margin-top:0px;font-family: inherit;font-weight: 1000;line-height: 1.1;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;margin-inline-start: 0px;margin-inline-end: 0px;">
                                                    {{ park.designation }}

                                                </h2>
                                                <h3><a href="{{ park.url }}" id="anch_6">{{ park.name }}</a></h3>
                                                <h4>{{ park.states }}</h4>
                                                <p>
                                                    {{ park.description }}
                                                </p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:25px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:150px;@media(min-width:768px)width: 75%;float:center;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{% url 'NPS-Home' %}" >No Park Search Results Were Found.</a></h3>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------------------------------People Results-------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                    <br><br>
                    <div style="margin: 0px 0px 0 0px;padding-top: 0px;">
                        <div class="col-md-9 col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                            <div class="stateParkList" style="background-color:#4b5e26;color:#fff;display:inline-block;font-size:1.375rem;font-family: Open Sans Condensed,sans-serif;font-weight:400;line-height:1;">
                                <a name="people"></a>
                                <h3 style="margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px;"> People Found For "{{ text }}": {{ totalSearchPeople }} </h3>
                            </div>
                            <div id="peopleListResults" style="background:#FFFFFF;margin-top:20px;">
                                <div id="peopleListResultsArea">
                                    <ul id="list_people" style="margin-right:20px;margin-bottom:14px;padding-left:0px;list-style: none;margin-left: 0px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                                        {% if peopleSearchData is not None %}
                                        {% for person in peopleSearchData %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:14px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:0px;@media(min-width:768px)width: 75%;float:left;position: relative;min-height: 1px;padding-right:10px;">
                                                {% if person.relatedParks is not empty %}
                                                <h2 style="color:#000000;font-size: 15px;text-transform: uppercase;margin-bottom:0px;margin-top:0px;font-family: inherit;font-weight: 1000;line-height: 1.1;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;margin-inline-start: 0px;margin-inline-end: 0px;">
                                                    Related Parks: {{ person.relatedParks }}
                                                </h2>
                                                {% endif %}
                                                <h3><a href="{{ person.url }}" id="anch_7">{{ person.title }}</a></h3>
                                                <p>{{ people.url }}</p>
                                                <p>
                                                    {{ person.listingdescription }}
                                                </p>
                                                <img src="{{ person.listingimage.url }}" style="max-width:50%">
                                                <p>{{ person.listingimage.altText }}</p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:25px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:150px;@media(min-width:768px)width: 75%;float:center;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{% url 'NPS-Home' %}" >No People Were Found.</a></h3>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------------------------------Place Results-------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                    <br><br>
                    <div style="margin: 0px 0px 0 0px;padding-top: 0px;">
                        <div class="col-md-9 col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                            <div class="stateParkList" style="background-color:#4b5e26;color:#fff;display:inline-block;font-size:1.375rem;font-family: Open Sans Condensed,sans-serif;font-weight:400;line-height:1;">
                                <a name="places"></a>
                                <h3 style="margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px;"> Places Found For "{{ text }}": {{ totalSearchPlaces }} </h3>
                            </div>
                            <div id="placeListResults" style="background:#FFFFFF;margin-top:20px;">
                                <div id="placeListResultsArea">
                                    <ul id="list_places" style="margin-right:20px;margin-bottom:14px;padding-left:0px;list-style: none;margin-left: 0px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                                        {% if placeSearchData is not None %}
                                        {% for place in placeSearchData %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:14px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:0px;@media(min-width:768px)width: 75%;float:left;position: relative;min-height: 1px;padding-right:10px;">
                                                {% if person.relatedParks is not empty %}
                                                <h2 style="color:#000000;font-size: 15px;text-transform: uppercase;margin-bottom:0px;margin-top:0px;font-family: inherit;font-weight: 1000;line-height: 1.1;display: block;margin-block-start: 0.83em;margin-block-end: 0.83em;margin-inline-start: 0px;margin-inline-end: 0px;">
                                                    Related Parks: {{ place.relatedParks }}
                                                </h2>
                                                {% endif %}
                                                <h3><a href="{{ place.url }}" id="anch_8">{{ place.title }}</a></h3>
                                                <p>{{ place.url }}</p>
                                                <p>
                                                    {{ place.listingdescription }}
                                                </p>
                                                <img src="{{ place.listingimage.url }}" style="max-width:50%">
                                                <p>{{ place.listingimage.altText }}</p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:25px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:150px;@media(min-width:768px)width: 75%;float:center;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{% url 'NPS-Home' %}" >No Place Were Found.</a></h3>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------------------------------Visitor Center Results-------------------------------------------------------------->
            <div class="row">
                <div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                    <br><br>
                    <div style="margin: 0px 0px 0 0px;padding-top: 0px;">
                        <div class="col-md-9 col-lg-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;width: 100%;float:left;position:relative">
                            <div class="visitorcenterParkList" style="background-color:#4b5e26;color:#fff;display:inline-block;font-size:1.375rem;font-family: Open Sans Condensed,sans-serif;font-weight:400;line-height:1;">
                                <a name="visitorcenters"></a>
                                <h3 style="margin-left:8px;margin-right:8px;margin-top:8px;margin-bottom:8px;"> Visitor Centers Found For "{{ text }}": {{ totalSearchVisitorcenters }} </h3>
                            </div>
                            <div id="visitorcenterListResults" style="background:#FFFFFF;margin-top:20px;">
                                <div id="visitorcenterListResultsArea">
                                    <ul id="list_visitorcenters" style="margin-right:20px;margin-bottom:14px;padding-left:0px;list-style: none;margin-left: 0px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                                        {% if visitorcenterSearchData is not None %}
                                        {% for visitorcenter in visitorcenterSearchData %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:14px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:0px;@media(min-width:768px)width: 75%;float:left;position: relative;min-height: 1px;padding-right:10px;">
                                                {% if visitorcenter.url is not empty %}
                                                <h3 style="color:blue">{{ visitorcenter.name }}</h3>
                                                <h6 style="color:green">{{ visitorcenter.url }}</h6>
                                                <p>ID: {{ visitorcenter.id }}</p>
                                                <h6>{{visitorcenter.contacts.phoneNumbers}}     {{visitorcenter.contacts.emailAddresses}}</h6>
                                                {% else %}
                                                <h3>{{ visitorcenter.name }}</h3>
                                                {% endif %}
                                                <h5>
                                                    {{ visitorcenter.description }}
                                                </h5><p></p><p></p>

                                                <h4 style="color:blue"><strong>Details about directions to: {{ visitorcenter.name }}</strong></h4>
                                                <h6 style="color:green">{{ visitorcenter.directionsUrl }}</h6>
                                                <ul>
                                                    <li><h5>{{ visitorcenter.directionsInfo}}</h5></li>
                                                </ul>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="clearfix" style="border-bottom: 1px solid #CCCCCC;padding: 17px 7px 23px 15px;margin-left: 3px;color: #000;font-family: Arial,sans-serif;font-weight: 400;line-height: 1.75;display: list-item;text-align: -webkit-match-parent;list-style: none;font-size:25px">
                                            <div class="col-md-9 col-sm-9 col-xs-12 table-cell list_left" style="display:table-cell;padding-left:150px;@media(min-width:768px)width: 75%;float:center;position: relative;min-height: 1px;padding-right:10px;">
                                                <h3><a href="{% url 'NPS-Home' %}" >No Visitor Centers Were Found.</a></h3>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock content %}